.buttonList{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px
}

.buttonItem{
    padding: 15px;
    color: white;
    background-color: rgb(66, 100, 251);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: rgb(9, 53, 250);
    }
}